body {
    background-color: aqua;
}

nav {
    background-color: #018f64;
    height: 60px;
    border-radius: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li p {
    margin: 20px;
    color: white;
    text-align: center;
}

li a:hover {
    background-color: #111;
    border-radius: 30px;
}

.img_container img {
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 10px;
}

section {
    background-color: #018f64;
    border-radius: 30px;
}
section h2 {
    color: white;
}

input {
	display: block;
	border: 2px solid #ccc;
	width: 95%;
	padding: 10px;
	margin: 10px auto;
	border-radius: 5px;
}

button {
    padding: 20px;
	background: #003764;
	color: #fff;
	border: none;
    width: 100%;
    
}
button:hover{
	opacity: .7;
}

label {
	color: white;
	font-size: 24px;
    display: block;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.h2_header {
    text-align: center;
    display: flex;
    justify-content: center;
}